@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{  margin:0; padding:0;
    font-family: "Noto Sans KR", sans-serif;font-optical-sizing: auto;
    font-style: normal; box-sizing: border-box;}
a{text-decoration: none; color:inherit;}
ul,li{list-style: none;}
table,td{border-collapse: collapse;}
#header-top{width:100%;height:35px;background:#202020; }
#header-top li a::after{ content:"|"; color: rgba(255,255,255,0.2); margin:0 7px; }
#header-top li:last-child a::after{ content:""; }
#header-top ul{ width:400px; height:35px;
 color:white; font-size: 13px; margin-right:25px;
 float:right; display: flex;  justify-content: space-between; align-items: center;
}
nav{width:100%;height: 81px; border-bottom: 1px solid black;}
#nav-nav{width:1840px; margin:0 auto; height:81px; display: flex; justify-content: space-between; align-items: center;}
nav .logo a {display: inline-block; width:100px; height:30px;
            background: url('../images/ico_set.png') -320px -385px no-repeat; 
            background-size: 800px 800px;}
nav .menu{ font-weight: 700; width:750px; height:81px; font-size: 22px; line-height: 81px; }
.menu ul{display: flex; justify-content: space-between;}
.menu a{font-size: 22px; line-height: 81px; font-weight: 700; height:81px; display: inline-block; }
.menu a:hover{border-bottom: 4px solid #98af01;}
nav .q_menu{ width:100px; height:52px; }
.q_menu ul{ font-size: 12px; color:#101010; font-weight: 600;
    display: flex; justify-content:space-between;}
.q_menu-img1,.q_menu-img2{ margin:0 auto;width:32px; height:32px; }
.q_menu-img1{background: url('../images/ico_set.png') -584px -320px no-repeat; background-size: 800px 800px;}
.q_menu-img2{background: url('../images/ico_set.png') -628px -320px no-repeat; background-size: 800px 800px;}
#banner{width:100%;  background: url('../images/join_sub.jpg') no-repeat;}
#connect{width: 100%; margin-bottom: 100px;}
section {width:1000px; height: 1900px; margin: 0 auto;}
.location ul{display: flex;float: right; margin-top: 38px; font-size: 13px; color: rgb(92, 92, 92); font-weight: 700; }
.location li a{display: inline-block; padding:0 13px 0 10px; background: url('../images/join/bg_location_li.png') right no-repeat;}
.location li:nth-child(3) a{background-image: url(''); padding: 0 0 0 10px;}
section h3{font-size:40px; font-weight: 700; color: #333; text-align: center; margin-bottom:5px; padding-top: 25px; clear: both;}
.join-step ul{display: flex; text-align: center;}
.join-step li{width: 333px; height:103px; border: 1px solid #efefef; box-sizing: border-box; padding: 20px 0;}
.join-step li:nth-child(2){background: #8b8075; color:white;}
.join-step span{font-size: 12px; font-weight: 700; padding:10px 0 7px;}
.join-step p{font-size: 20px; font-weight: 700;}
section h4{ width:1000px;height:36px;box-sizing: border-box; padding:0 0 10px 10px; font-size:20px; color:#333;font-weight:600;}
section h4>span{font-size:13px; color:#555;}
section table{width:1000px; border-top:1px solid rgb(209,209,209); border-bottom:1px solid rgb(209,209,209);}
section th,section td{border-bottom: 1px solid rgb(230,230,230); padding:10px 20px;}
section th{text-align: left; width:200px; background: #f6f6f6; font-size: 13px;}
section th>span{display: inline-block; background: url('../images/join/point_rs.png') no-repeat 45% 88%;
                margin-right:5px; width: 10px; height:10px}
section td input{width:280px;  height:30px; padding-left: 10px;}
section td button{ width:80px; height:30px; background: #6f6f6f; padding:0 10px; color: white;font-weight: 700; cursor: pointer;}
section td span{font-size:13px; color:#555;font-weight:600; margin-top:5px;}
.form-email td>input{width:134px; }
.form-email td>input:nth-of-type(2){width:164px; }
.form-email select{width:150px; height:34px;}
.form-address input[name='postZip']{width:120px;}
.form-address input[name='addr1']{width:759px; margin-top: 5px;}
.form-address input[name='addr2']{width:759px; margin-top: 5px;}
.form-phone input{width:79px;}
.form-birth select{width:80px;height:34px;}
.form-birth span{font-size: 10px;}
form div{width: 150px;height:30px;}
form label{ font-size: 13px; font-weight:700; color:#555;}

form input[type='radio']:not(abcd){width:24px; height:20px; opacity:0;}
form input[type='radio']:not(abcd) + label{ background: url('../images/join/radio_off.jpg') no-repeat 0 2px; margin:0 10px 0 -24px; padding-left: 24px; width:24px; height :24px;}
form input[type='radio']:not(abcd):checked+label{background: url('../images/join/radio_on.jpg') no-repeat 0 2px;}

.form-news div,.form-sms div{ width:150px; height:30px; display: inline;  }
.form-job select{width:200px; height:34px;}

form input[type='checkbox']:not(abcd){width:24px; height:20px; opacity:0;}
form input[type='checkbox']:not(abcd) + label{ background: url('../images/join/radio_off.jpg') no-repeat 0 2px; margin:0 10px 0 -24px; padding-left: 24px; width:24px; height :24px;}
form input[type='checkbox']:not(abcd):checked+label{background: url('../images/join/radio_on.jpg') no-repeat 0 2px;}
.form-hobby div{ width:770px; height:81px;}
.form-hobby ul{display: flex; justify-content: left;align-content: space-between; flex-wrap: wrap; }
.form-hobby li{width:120px; margin:5px 0;}

.form-button{width:1000px; height:58px; text-align: center; margin:15px auto 0px;}
.form-button input{width:100px; height:55px; font-size: 15px; font-weight:700; border: 1px solid rgb(221,221,221);}
.form-button input[type='reset']{background:white; color:rgb(85,85,85);}
.form-button input[type='submit']{background: #8a8d8f;color:white;}

footer{width:100%;height:213px;background-color: #202020; color:#606060; clear:both;}
#footer-wrap{ width: 1180px;height:177px; margin:0 auto; display: flex; justify-content: space-between;}
.foot-logo{width:300px;height:177px; padding-top: 36px;}
.foot-logo a{width:160px;height:48px;background: url('../images/ico_set.png') no-repeat -320px -320px; background-size: 800px 800px; display: block;}
.foot-logo p{font-size: 12px; padding:45px 0 0 1px;}
.foot-addr{width:660px;height:177px;}
.foot-service{width:170px;height:177px; text-align: right; padding-top:31px;}
.foot-service select{width:130px;height:25px;font-size:13px;color:white; background:#202020; text-align: right;}
.foot-service div{margin-top:25px; font-size:17px; font-weight:600; letter-spacing: -2px; color:white;}
.foot-service div span{margin-right:5px; font-weight: 400;}
.foot-service a{display: block; width:88px; height:32px; color: white; font-size: 13px; font-weight: 500; text-align: center; line-height: 30px; margin: 38px 0 0 80px;}
.foot-addr{padding-top: 32px;}
.foot-addr ul{display:flex; }
.foot-addr li{padding:0 24px; }
.foot-addr li a::after{content: "|"; color:rgba(255,255,255,0.2); margin-left:24px;}
.foot-addr li:last-child::after{content: ""; }
.foot-addr a{font-size: 13px; font-weight: 700; color:white; letter-spacing: -1.5px; display: inline-block; height:26px;}
.foot-addr li:nth-child(2) a{color:#bdd61a;}
.foot-addr span{display: inline-block; margin-top: 6px; padding-right: 60x;}
.foot-addr div{font-size: 12px; font-weight: 400; padding-left: 3px; color:#ffffff;}